#home {
    animation: bg-opacity 3s linear;
    #home-content {
        .yc-logo {
            animation: jump 2s infinite;
            animation-delay: 3.5s;
        }
    }
}

@keyframes bg-opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes jump {
    50% {
        transform: scale(0.8);
    }
}