#concept {
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    @include md {
        padding-bottom: 50px;
    }
    .inner {
        .box1 {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 0;
            @include md {
                min-height: 200px;
            }
            .concept-img1 {
                position: absolute;
                @include background-image(cover);
                background-position-x: 70%;
                z-index: 1;
                @include center-image;
            }
        }
        .box2 {
            width: 100%;
            height: 308px;
            position: relative;
            z-index: 0;
            @include md {
                height: 200px;
            }
            .concept-img2 {
                position: absolute;
                @include background-image(cover);
                z-index: 1;
                @include center-image;
            }
        }
        .box3 {
            @extend .box2;
            .concept-img3 {
                position: absolute;
                @include background-image(cover);
                z-index: 1;
                @include center-image;
            }
        }
        .color-box {
            width: 100%;
            height: 308px;
            background-color: map-get($color, main);
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
            @include md {
                height: 200px;
            }
        }
        h1 {
            font-family: $font-family-CN;
            color: white;
            font-size: map-get($font-size-desktop, small);
            font-weight: map-get($font-weight, medium);
            letter-spacing: map-get($letter-spacing, desktop);
            text-shadow: 2px 2px 2px rgba( #000, 0.5);
            margin-left: 30px;
            margin-top: 30px;
            line-height: 2em;
            @include md {
                font-size: map-get($font-size-mobile, small);
                letter-spacing: map-get($letter-spacing, mobile);
            }
        }
        #custom {
            @include sm {
                width: 45%;
            }
        }
        #unique {
            @include sm {
                width: 55%;
            }
        }
    }
}