#foreword {
    height: auto;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    .info {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        h1 {
            width: 100%;
            text-align: center;
            font-family: $font-family-EN;
            color: white;
            font-size: map-get($font-size-desktop, small);
            font-weight: map-get($font-weight, regular);
            letter-spacing: map-get($letter-spacing, desktop);
            font-style: italic;
            line-height: 2em;
            @include md {
                font-size: map-get($font-size-mobile, small);
                letter-spacing: map-get($letter-spacing, mobile);
            }
        }
        h2 {
            width: 1500px;
            text-align: end;
            margin-top: 30px;
            font-family: $font-family-EN;
            color: white;
            font-size: map-get($font-size-desktop, x-small);
            font-weight: map-get($font-weight, light);
            letter-spacing: map-get($letter-spacing, desktop);
            @include md {
                font-size: map-get($font-size-mobile, x-small);
                letter-spacing: map-get($letter-spacing, mobile);
            }
        }
    }
}