#home {
    @include section-size;
    @include background-image(cover);
    #home-content {
        padding-top: 330px;
        @include xxl {
            padding-top: 450px;
        }
        @include md {
            padding-top: 350px;
        }
        @include sm {
            padding-top: 220px;
        }
        img {
            height: 305px;
            width: auto;
            @include md {
                height: 244px;
                width: auto;
            }
            @include sm {
                height: 183px;
                width: auto;
            }
        }
        .cover {
            position: absolute;
            bottom: 0;
            background-color: map-get($color, bg);
            width: 100%;
            height: 205px;
            border-top: 5px solid map-get($color, main);
            border-bottom: 5px solid map-get($color, main);
            @include center;
            @include md {
                height: 164px;
            }
            h1 {
                text-align: center;
                font-family: $font-family-CN;
                color: white;
                font-size: map-get($font-size-desktop, large);
                font-weight: map-get($font-weight, bold);
                letter-spacing: 20px;
                @include md {
                    font-size: map-get($font-size-mobile, large);
                    letter-spacing: 10px;
                }
                @include sm {
                    font-size: map-get($font-size-mobile, normal);
                    letter-spacing: 10px;
                }
            }
        }
    }
}