header {
    height: 105px;
    background-color: map-get($color, bg);
    border-top: 12px solid map-get($color, main);
    border-bottom: 1px solid map-get($color, main);
    transition: top 0.4s ease-in-out;
    z-index: 990;
    @include center;
    @include lg {
        border-top: 1px solid map-get($color, main);
        height: 84px;
        @include center;
    }
    @include md {
        height: 63px;
    }
}